@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/*
CONTENTS
-------------------------
COLORS
GLOBAL
NAV BAR
SPLASH
ABSTRACT
WORK


*/
/*COLORS
-------------------------*/
/*GLOBAL STYLES
-------------------------*/
body {
  background-color: #834017;
}
.container {
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
  font-size: 16px;
  color: #000;
  opacity: .5;
  max-width: 1000px;
}
.container [class*='col-'] {
  padding-left: 6px;
  padding-right: 6px;
}
/*NAV BAR
-------------------------*/
.nav {
  margin-top: 40px;
  font-weight: bold;
}
.nav .row {
  margin-left: 0px;
  margin-right: 0px;
}
/*SPLASH
-------------------------*/
.splash {
  margin-top: 250px;
}
/*ABSTRACT
-------------------------*/
.abstract {
  margin-top: 200px;
}
.abstract .row {
  margin-bottom: 20px;
}
.abstract img {
  width: 100%;
  margin-bottom: -50px;
}
.abstract .text {
  padding-left: 10px;
}
.abstract .text h1 {
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
}
.abstract .text h2 {
  display: inline;
  font-size: 14px;
  font-style: italic;
  padding-left: 5px;
}
.abstract .text p {
  font-size: 14px;
}
/*WORK
-------------------------*/
